.photo-grid {
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin-left: 48px;
    margin-right: 48px;
  }
}
