.list__item {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid-template-areas:
    "image"
    "author"
    "quote";
}

@media screen and (min-width: 1024px) {
  .list__item {
    justify-items: flex-start;
    grid-template-areas:
      "image"
      "quote"
      "author";
    align-self: start;
  }
}
