.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    margin: 48px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 48px 152px 0;
  }
}
