.place {
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
  }
}
