.list {
  max-width: 382px;
  list-style-type: none;
  padding: 0;
  margin: 40px auto 0;
  display: grid;
  gap: 48px;
}

@media screen and (min-width: 375px) {
  .list {
    margin: 48px auto 0;
  }
}

@media screen and (min-width: 768px) {
  .list {
    margin: 72px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
